html, body{
    margin: 0;
    padding: 0;
}

.background {
    background-color: #ffb6c1;
    opacity: 0.5;
    filter: blur(8px);
}

.main{
    text-align: center;
    width: 100%;
    height: auto;
    background-image: url('./../src/back.jpeg');
    position: relative;
    z-index: 0;
}

.main::before {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    background: inherit;
    filter: blur(8px);
    z-index: -1;
}

#titleStyle {
    padding: 10px;
    width: 100%;
    height: 120px;
}

.menuContents{
    height: 50px;
    background-color: rgba(0,0,0,0.2);
    border: 1px solid #ffffff;
}

#title{
    font-size:30px;
  position: relative;
  padding: .5em .75em;
  background-color: #E8E810;
}
#title::after {
  content: '';
  position: absolute;
  top: -20px;
  left: 0;
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #E8E8DA;
}

.titleContainer img{
    max-width: 80%;
    height: auto;
}

#mainContents{
    margin: 50px auto;
    width: 90%;
    height: auto;
    align-items: center;
    justify-content: center;
}

#mainImgBox{
    /* width: 100%;
    height: auto; */
    width: 600px;
    height: 300px;
    position: relative;
}

#mainImgBox p{
    position: absolute;
    font-size: 3em;
    color: #ffffff;
    top: 50px;
    left: 50px;
    line-height: 100px;
    text-shadow: 
    black 2px 0px,  black -2px 0px,
    black 0px -2px, black 0px 2px,
    black 2px 2px , black -2px 2px,
    black 2px -2px, black -2px -2px,
    black 1px 2px,  black -1px 2px,
    black 1px -2px, black -1px -2px,
    black 2px 1px,  black -2px 1px,
    black 2px -1px, black -2px -1px;
}
.mainImg{
    max-width: 80%;
    height: auto;
}

.wrapperGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#calendar {
    text-align: center;
    grid-column: 1/6;
}

#calendar iframe {
    font-family: 'arial black', sans-serif;
    width: 90% !important;
    height: 600px !important;
}

#twitter {
    text-align: center;
    width: 320px; 
    height: 600px;
    grid-column: 6/8;
}
#twitter-widget-0{
    width: 600px !important;
    height: 600px !important;
    
}
.snsBtn {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.snsBtn img{
    margin-top: 10px;
    float: left;
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

.SNScard {
    margin: 0 auto;
    width: 100%;
    height: 55%;
    border-radius: 15px;
    margin: 5px auto 30px auto;
}

.SNScard a{
    display: block;
    width: 100%;
    height: 100%;
    direction: none;
}

#showroomCard:before,
#showroomCard:after {
content:"";
display:block;
width:100%;
}

.SNSText {       
    font-weight: 900;
    font-size: 36px;
    margin-left: 10px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

.iconContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#lineCard {
    width: 100%;
    height: 100px;
    grid-column: 1/2;
}
#twitterCard {
    width: 100%;
    height: 100px;
    grid-column: 2/3;
}
#showroomCard {
    width: 100%;
    height: 100px;
    grid-column: 3/4;
}
#voicyCard {
    width: 100%;
    height: 100px;
    grid-column: 4/5;
}
#amazonCard {
    width: 100%;
    height: 100px;
    grid-column: 5/6;
}
#modal-content,#modal-content2{
	width:50%;
	margin:1.5em auto 0;
	padding:10px 20px;
	border:2px solid #aaa;
	background:#fff;
	z-index: 3;
}

.subtitle {
    width: 90%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    border-radius: 2px;
    background-color: #ffffff;
    font-size: 20px;
    font-family: 'arial black', sans-serif;
}

#titletwitter{
    padding: 0 5%;
}

.modal-p, .modal-p2{
	margin-top:1em;
}

.modal-p:first-child{
	margin-top:0;
}

.button-link{
	color:#00f;
	text-decoration:underline;
}
 
.button-link:hover{
	cursor:pointer;
	color:#f00;
}


/* ここからデモページ用のコード */
body {
width: 100% ;
padding: 0 ;
}
/* ここまでデモページ用のコード */
#modal-content{
width: 50% ;
margin: 0 ;
padding: 10px 20px ;
border: 2px solid #aaa ;
background: #fff ;
position: fixed ;
display: none ;
z-index: 2 ;
}
#modal-content2{
    width: 70% ;
    height: 85%;
    margin: 0 ;
    padding: 10px 20px ;
    border: 2px solid #aaa ;
    background: #fff ;
    position: fixed ;
    display: none ;
    z-index: 2 ;
    }
#modal-content-innar, #modal-content-innar2{
margin:0 auto;
width:80%;
}
#modal-overlay, #modal-overlay2 {
z-index: 1 ;
display: none ;
position: fixed ;
top: 0 ;
left: 0 ;
width: 100% ;
height: 120% ;
background-color: rgba( 0,0,0, 0.75 ) ;
}
.button-link {
color: #00f ;
text-decoration: underline ;
}
.button-link:hover {
cursor: pointer ;
color: #f00 ;
}
.red{
    text-align: center;
    color:red;
    font-weight:bold;
    font-size:120%;
    } #side-profile dl {
    margin-bottom: 10px;
}
#modal-close, #modal-close2{
    margin: 0 auto;
    margin-top: 15px; 
    width: 30px;
    height: 30px;
    text-align: center;
    align-items: center;
}
#closeIcon,  #closeIcon2{
    width: 25px;
    height: 25px;
  }


#footer {
    bottom: 0;
    width: 100%;
    height: 15px;
    background-color: #ffffff;
    font-size: 10px;
    text-align: center;
}

.profile {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.profile td{
    width: 30%;
    border: double 1px;
    padding: 10px;
}

.profile th{
    width: 70%;
    border: double 1px;
    padding: 10px;
}

.tableContainer {
    width: 100%;
    height: auto;
    text-align: center;
}

.phonetic {
    font-size: 10px;
}

/*スマホ画面の設定↓*/
@media screen and (max-width: 750px){
    html, body{
        margin: 0;
        padding: 0;
    }
    .main{
        width: 100%;
        height: auto;
    }
    #mainContents{
        /* width: 100%;
        height: auto; */
        text-align: center;
    }
    .mainContainer {
        width: 100%;
        margin: auto;
    }
    .mainImg{
        /* width: 90%;
        height: auto; */
        text-align: center;
    }    
    .wrapperGrid {
        display: inline-block;
    }
    #calendar {
        margin: 0 auto;
        margin-top: 10px; 
        width: 90%;
    }
    #twitter {
        margin: 0 auto;
        margin-top: 10px;
        width: 90%; 
    }
    #twitter-widget-0{
        width: 90% !important;
        height: 500px !important;
        
    }

    #titletwitter{
        padding: 0 2px;
        display:inline-block;
        vertical-align: middle;
    }

    #modal-content{
        width: 75% ;
        margin: 0 ;
        padding: 5px 5px ;
        border: 2px solid #aaa ;
        background: #fff ;
        position: fixed ;
        display: none ;
        z-index: 2 ;
    }
    #modal-content2{
        width: 75% ;
        height: 90%;
        margin: 0 ;
        padding: 5px 10px ;
        border: 2px solid #aaa ;
        background: #fff ;
        position: fixed ;
        display: none ;
        z-index: 2 ;
    }
    #modal-content-innar, #modal-content-innar2{
        margin:0 auto;
        width: 100%;
    }

    .snsBtn {
        width: auto;
        height: auto;
    }

    .SNScard {
        width: auto;
        height: auto;
    }

    .iconContainer {
        display: flex;
    }
}